<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyNetQ" version="0.43.1.359" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
  <package id="PS.Messaging" version="1.0.0.33" targetFramework="net40" />
  <package id="PS.MessagingAdmin" version="1.0.0.33" targetFramework="net40" />
  <package id="PS.Utilities" version="3.2.0.37" targetFramework="net40" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net40" />
  <package id="RestSharp" version="105.0.1" targetFramework="net40" />
</packages>